@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans/OpenSansBold/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSansBold/OpenSans-Bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans/OpenSansRegular/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans/OpenSansRegular/OpenSans-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px; }

.main-nav {
  font-size: 17px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  position: relative;
  padding-top: 20px; }

.main-nav__list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0; }
  .main-nav__list a {
    text-decoration: none;
    color: #000000; }

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 280px;
  padding-top: 18px; }

.main-nav__toggle {
  width: 60px;
  position: absolute;
  top: 17px;
  right: 13px; }

.page-header__logo {
  display: block;
  width: 100%;
  height: 58px;
  order: -1;
  background-image: url("../img/logo-2.svg");
  background-repeat: no-repeat;
  background-size: 90px;
  margin: 0 auto;
  background-position: 114px 1px;
  border-bottom: 1px solid #ececec; }
  .page-header__logo:hover {
    opacity: 0.6; }
  .page-header__logo:active {
    opacity: 0.1; }

.site-list__item {
  padding: 28px 60px 24px 46px;
  border-bottom: 1px solid #ececec; }
  .site-list__item:nth-child(1) {
    padding: 27px 60px 24px 42px; }
  .site-list__item a:hover {
    opacity: 0.6; }
  .site-list__item a:active {
    opacity: 0.1; }

.user-list__item {
  padding: 28px 60px 24px 46px;
  border-bottom: 1px solid #ececec;
  position: relative; }
  .user-list__item:nth-child(1) {
    padding: 30px 60px 24px 27px; }
  .user-list__item:nth-child(2) {
    padding: 31px 35px 24px 46px; }
  .user-list__item a:hover {
    opacity: 0.6; }
  .user-list__item a:active {
    opacity: 0.1; }

.user-list__search::before {
  content: '';
  width: 22px;
  height: 22px;
  background-image: url("../img/search-icon.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: 18px;
  left: 32px;
  top: 37px; }

.user-list__search:hover::before {
  background-image: url("../img/search-icon-hover.svg"); }

.user-list__cart::before {
  content: '';
  width: 23px;
  height: 20px;
  background-image: url("../img/cart-icon.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: 19px;
  left: 31px;
  top: 36px; }

.user-list__cart:hover::before {
  background-image: url("../img/cart-icon-hover.svg"); }

@media (min-width: 768px) {
  .main-nav {
    flex-direction: row;
    width: 768px; }
  .main-nav__wrapper {
    flex-direction: row;
    width: 668px;
    justify-content: space-between; }
  .page-header__logo {
    background-image: url("../img/logo-4.svg"); } }

@media (min-width: 1200px) {
  .main-nav {
    width: 1200px; }
  .main-nav__wrapper {
    width: 1050px; }
  .page-header__logo {
    background-image: url("../img/logo.svg"); } }

.promo-list {
  font-size: 15px;
  display: none; }

.promo__delivery {
  font-size: 15px;
  line-height: 24px;
  font-family: "Open Sans Regular", Arial, sans-serif;
  display: none; }

.promo__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: normal;
  text-align: center; }

.offers-list {
  display: flex;
  flex-direction: column; }

@media (min-width: 768px) {
  .offers-list {
    flex-direction: row; }
  .promo__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: normal;
    text-align: center; } }

@media (min-width: 1200px) {
  .promo__title {
    font-size: 53px;
    line-height: 57px;
    font-weight: normal;
    text-align: center; } }

.offers-list {
  list-style: none;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff; }

.offers-list__item {
  background-color: #63d1bb; }

.offers-list__item--toys {
  background-color: #56c3b2; }

.product {
  display: flex;
  flex-direction: column; }

.product__of-week {
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase; }

.product__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: normal; }

.product__description {
  font-size: 17px;
  line-height: 30px;
  font-family: "Open Sans Regular", Arial, sans-serif; }

.product__characteristics {
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans Regular", Arial, sans-serif; }

.product__price {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px; }

.product__order {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #444444; }

@media (min-width: 768px) {
  .product {
    flex-direction: row; }
  .product__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: normal; }
  .product__of-week {
    order: 1; } }

@media (min-width: 1200px) {
  .product__title {
    font-size: 53px;
    line-height: 57px;
    font-weight: normal; } }

.about-us {
  display: flex;
  flex-direction: column; }

.about-us__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: normal; }

.about-us__list {
  list-style: none;
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 20px;
  line-height: 22px;
  margin: 0;
  padding: 0; }

@media (min-width: 768px) {
  .about-us__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: normal; }
  .about-us__list {
    display: flex;
    flex-wrap: wrap; }
  .about-us__item {
    flex-basis: 50%; } }

@media (min-width: 1200px) {
  .about-us__title {
    font-size: 53px;
    line-height: 57px;
    font-weight: normal; }
  .about-us__item {
    flex-basis: 50%; } }

.reviews {
  display: flex;
  flex-direction: column; }

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: normal; }

.reviews__write {
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  order: 5; }

.reviews__description {
  font-size: 17px;
  line-height: 30px;
  font-family: "Open Sans Regular", Arial, sans-serif; }

.reviews__username {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 24px; }

.reviews__login {
  font-size: 17px;
  line-height: 24px;
  font-family: "Open Sans Regular", Arial, sans-serif; }

.reviews__slider {
  list-style: none; }

@media (min-width: 768px) {
  .reviews__write {
    order: -1; }
  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: normal; } }

@media (min-width: 1200px) {
  .reviews__title {
    font-size: 53px;
    line-height: 57px;
    font-weight: normal; } }

.contacts {
  display: flex;
  flex-direction: column; }

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal; }

.contacts__wrapper {
  display: flex; }

.contacts__email {
  font-size: 17px;
  line-height: 30px;
  font-family: "Open Sans Regular", Arial, sans-serif; }

.contacts__address {
  font-size: 17px;
  line-height: 30px;
  font-family: "Open Sans Regular", Arial, sans-serif; }

.contacts__write-us {
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 20px;
  order: 5; }

@media (min-width: 768px) {
  .contacts {
    flex-direction: row;
    flex-wrap: wrap; }
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: normal; }
  .contacts__wrapper {
    flex-basis: 50%; }
  .contacts__image {
    flex-basis: 100%; } }

@media (min-width: 1200px) {
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    font-weight: normal; }
  .contacts__image {
    flex-basis: 50%; } }

.page-footer {
  display: flex;
  flex-direction: column; }

.social__list {
  list-style: none;
  display: flex; }

.copyright__text {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 19px;
  line-height: 18px; }

.social__link {
  text-decoration: none; }

@media (min-width: 768px) {
  .page-footer {
    flex-direction: row; } }

.catalog__list {
  list-style: none; }

.catalog__name {
  font-size: 20px;
  line-height: 24px;
  font-weight: normal; }

.catalog__characteristics {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans Regular", Arial, sans-serif; }

.catalog__price {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 24px; }

.catalog__list {
  display: flex;
  flex-direction: column; }

.catalog__item {
  display: flex;
  flex-direction: column; }

@media (min-width: 768px) {
  .catalog__item {
    flex-direction: row;
    flex-wrap: wrap; } }

@media (min-width: 1200px) {
  .catalog__list {
    flex-direction: row; } }

.video {
  display: flex;
  flex-direction: column; }

.video__title {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px; }

.video__description {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans Regular", Arial, sans-serif; }

.video__order {
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 16px; }

@media (min-width: 768px) {
  .video__preview {
    order: -1; } }

@media (min-width: 1200px) {
  .video {
    flex-direction: row; } }

.order__description {
  font-size: 17px;
  line-height: 30px;
  font-family: "Open Sans Regular", Arial, sans-serif; }

.order__item {
  border: none;
  display: flex;
  flex-direction: column; }

.order__legend {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase; }

.order__form {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 19px;
  line-height: 18px; }

@media (min-width: 768px) {
  .order__item {
    flex-wrap: wrap; }
  .order__legend {
    align-self: flex-start; } }

@media (min-width: 1200px) {
  .order__item:nth-of-type(2) {
    flex-direction: row; } }
