@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans/OpenSansBold/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSansBold/OpenSans-Bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans/OpenSansRegular/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans/OpenSansRegular/OpenSans-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.main-nav {
  font-size: 17px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  position: relative; }

.main-nav__list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0; }
  .main-nav__list a {
    text-decoration: none;
    color: #000000; }

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 18px; }

.main-nav__toggle {
  width: 23px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 29px;
  border: none;
  display: block;
  cursor: pointer;
  background-color: #fff; }

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 1px;
  width: 21px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000; }

.main-nav--opened .main-nav__toggle {
  top: 10px;
  right: 29px; }
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -2px;
    width: 28px;
    height: 2px;
    background-color: #000000; }
  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none; }
  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(-45deg); }

.page-header__logo--wrapper {
  order: -2;
  border-bottom: 1px solid #ececec; }

.page-header__logo {
  display: block;
  width: 90px;
  height: 58px;
  background-image: url("../img/logo-2.svg");
  background-repeat: no-repeat;
  background-size: 90px;
  margin: 0 auto; }
  .page-header__logo:hover {
    opacity: 0.6; }
  .page-header__logo:active {
    opacity: 0.1; }

@media (min-width: 320px) {
  .main-nav--closed .site-list {
    display: none; }
  .main-nav--closed .user-list {
    display: none; } }

@media (min-width: 768px) {
  .main-nav {
    flex-direction: row;
    padding-top: 0;
    flex-wrap: wrap;
    align-items: center; }
  .main-nav__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0; }
  .page-header__logo {
    background-image: url("../img/logo-4.svg");
    width: 111px;
    background-size: 111px;
    margin: 0; }
  .main-nav__toggle {
    display: none; }
  .page-header__logo--wrapper {
    height: 50px;
    border: none;
    flex-basis: 48%;
    border-bottom: 1px solid #ececec;
    padding-left: 50px;
    padding-top: 22px;
    height: 90px; } }

@media (min-width: 1200px) {
  .main-nav {
    padding-left: 70px;
    flex-wrap: nowrap;
    border-bottom: 1px solid #ececec; }
  .page-header__logo {
    background-image: url("../img/logo.svg");
    width: 153px;
    background-size: 153px;
    height: 100%; }
  .page-header__logo--wrapper {
    order: 1;
    flex-basis: 20%;
    height: 72px;
    padding-left: 0;
    padding-top: 0;
    border: none;
    margin-right: 51px; } }

.promo {
  background-image: url("../img/promo-background.jpg");
  background-repeat: no-repeat;
  background-size: 178%;
  background-position: -125px -8px;
  padding-top: 58px; }

.promo-list {
  font-size: 15px;
  display: none; }

.promo__delivery {
  font-size: 15px;
  line-height: 24px;
  font-family: "Open Sans Regular", Arial, sans-serif;
  display: none; }

.promo__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  margin-bottom: 123px;
  padding: 0 10px; }

@media (min-width: 768px) {
  .promo__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: normal;
    text-align: center; }
  .promo__delivery {
    display: block;
    margin-left: 436px;
    margin-top: -24px; } }

@media (min-width: 1200px) {
  .main-nav--promo {
    border: none; }
  .promo__title {
    font-size: 53px;
    line-height: 57px;
    font-weight: normal;
    text-align: center; }
  .promo__delivery {
    margin: 0; } }

.offers-list {
  list-style: none;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0; }

.offers-list__item {
  background-color: #63d1bb;
  padding: 25px 182px 17px 30px; }

.offers-list__item--toys {
  background-color: #56c3b2; }

@media (min-width: 768px) {
  .offers-list {
    flex-direction: row; } }

.product {
  display: flex;
  flex-direction: column; }

.product__of-week {
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase; }

.product__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: normal; }

.product__description {
  font-size: 17px;
  line-height: 30px;
  font-family: "Open Sans Regular", Arial, sans-serif; }

.product__characteristics {
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans Regular", Arial, sans-serif; }

.product__price {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px; }

.product__order {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #444444; }

@media (min-width: 768px) {
  .product {
    flex-direction: row; }
  .product__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: normal; }
  .product__of-week {
    order: 1; } }

@media (min-width: 1200px) {
  .product__title {
    font-size: 53px;
    line-height: 57px;
    font-weight: normal; } }

.about-us {
  display: flex;
  flex-direction: column; }

.about-us__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: normal; }

.about-us__list {
  list-style: none;
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 20px;
  line-height: 22px;
  margin: 0;
  padding: 0; }

@media (min-width: 768px) {
  .about-us__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: normal; }
  .about-us__list {
    display: flex;
    flex-wrap: wrap; }
  .about-us__item {
    flex-basis: 50%; } }

@media (min-width: 1200px) {
  .about-us__title {
    font-size: 53px;
    line-height: 57px;
    font-weight: normal; }
  .about-us__item {
    flex-basis: 50%; } }

.reviews {
  display: flex;
  flex-direction: column; }

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: normal; }

.reviews__write {
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  order: 5; }

.reviews__description {
  font-size: 17px;
  line-height: 30px;
  font-family: "Open Sans Regular", Arial, sans-serif; }

.reviews__username {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 24px; }

.reviews__login {
  font-size: 17px;
  line-height: 24px;
  font-family: "Open Sans Regular", Arial, sans-serif; }

.reviews__slider {
  list-style: none; }

@media (min-width: 768px) {
  .reviews__write {
    order: -1; }
  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: normal; } }

@media (min-width: 1200px) {
  .reviews__title {
    font-size: 53px;
    line-height: 57px;
    font-weight: normal; } }

.contacts {
  display: flex;
  flex-direction: column; }

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal; }

.contacts__wrapper {
  display: flex; }

.contacts__email {
  font-size: 17px;
  line-height: 30px;
  font-family: "Open Sans Regular", Arial, sans-serif; }

.contacts__address {
  font-size: 17px;
  line-height: 30px;
  font-family: "Open Sans Regular", Arial, sans-serif; }

.contacts__write-us {
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 20px;
  order: 5; }

@media (min-width: 768px) {
  .contacts {
    flex-direction: row;
    flex-wrap: wrap; }
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: normal; }
  .contacts__wrapper {
    flex-basis: 50%; }
  .contacts__image {
    flex-basis: 100%; } }

@media (min-width: 1200px) {
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    font-weight: normal; }
  .contacts__image {
    flex-basis: 50%; } }

.page-footer {
  display: flex;
  flex-direction: column; }

.social__list {
  list-style: none;
  display: flex; }

.copyright__text {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 19px;
  line-height: 18px; }

.social__link {
  text-decoration: none; }

@media (min-width: 768px) {
  .page-footer {
    flex-direction: row; } }

.catalog__list {
  list-style: none; }

.catalog__name {
  font-size: 20px;
  line-height: 24px;
  font-weight: normal; }

.catalog__characteristics {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans Regular", Arial, sans-serif; }

.catalog__price {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 24px; }

.catalog__list {
  display: flex;
  flex-direction: column; }

.catalog__item {
  display: flex;
  flex-direction: column; }

@media (min-width: 768px) {
  .catalog__item {
    flex-direction: row;
    flex-wrap: wrap; } }

@media (min-width: 1200px) {
  .catalog__list {
    flex-direction: row; } }

.video {
  display: flex;
  flex-direction: column; }

.video__title {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px; }

.video__description {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans Regular", Arial, sans-serif; }

.video__order {
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 16px; }

@media (min-width: 768px) {
  .video__preview {
    order: -1; } }

@media (min-width: 1200px) {
  .video {
    flex-direction: row; } }

.order__description {
  font-size: 17px;
  line-height: 30px;
  font-family: "Open Sans Regular", Arial, sans-serif; }

.order__item {
  border: none;
  display: flex;
  flex-direction: column; }

.order__legend {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase; }

.order__form {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 19px;
  line-height: 18px; }

@media (min-width: 768px) {
  .order__item {
    flex-wrap: wrap; }
  .order__legend {
    align-self: flex-start; } }

@media (min-width: 1200px) {
  .order__item:nth-of-type(2) {
    flex-direction: row; } }

* {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.site-list__item {
  padding: 28px 60px 24px 46px;
  border-bottom: 1px solid #ececec; }
  .site-list__item:nth-child(1) {
    padding: 27px 60px 24px 42px; }
  .site-list__item a:hover {
    opacity: 0.6; }
  .site-list__item a:active {
    opacity: 0.1; }

@media (min-width: 768px) {
  .site-list {
    display: flex;
    order: 3;
    padding-left: 174px;
    padding-top: 16px;
    margin-left: -125px;
    margin-right: auto;
    font-family: "Open Sans Bold", Arial, sans-serif;
    font-size: 15px;
    line-height: 24px; }
  .site-list__item {
    padding: 0;
    border: none; }
    .site-list__item:nth-child(1) {
      padding: 0; }
    .site-list__item:nth-child(1) {
      margin-right: 37px; } }

@media (min-width: 1200px) {
  .site-list {
    order: -1;
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Open Sans Bold", Arial, sans-serif;
    font-size: 17px;
    line-height: 24px;
    flex-basis: 40%;
    margin-right: 45px; }
  .site-list__item {
    padding: 30px 0;
    flex-basis: 50%;
    min-width: 216px; }
    .site-list__item:nth-child(1) {
      padding: 30px 0;
      margin-right: 0;
      border-right: 1px solid #ececec; } }

.user-list__item {
  padding: 28px 60px 24px 46px;
  border-bottom: 1px solid #ececec;
  position: relative; }
  .user-list__item:nth-child(1) {
    padding: 30px 60px 24px 27px; }
  .user-list__item:nth-child(2) {
    padding: 31px 35px 24px 46px; }
  .user-list__item a:hover {
    opacity: 0.6; }
  .user-list__item a:active {
    opacity: 0.1; }
  .user-list__item svg {
    position: absolute;
    left: 30px;
    top: 36px; }

.user-list__search:hover + svg .st0 {
  fill: #63d1bb; }

.user-list__cart:hover + svg .st0 {
  fill: #63d1bb; }

.user-list__search:active + svg .st0 {
  opacity: 0.1; }

.user-list__cart:active + svg .st0 {
  opacity: 0.1; }

@media (min-width: 768px) {
  .user-list {
    display: flex;
    flex-basis: 50%;
    height: 90px;
    border-bottom: 1px solid #ececec; }
  .user-list__item {
    padding: 0;
    border: none; }
    .user-list__item:nth-child(1) {
      padding: 0;
      width: 85px;
      margin-right: 83px;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec; }
      .user-list__item:nth-child(1) svg {
        left: 33px;
        top: 35px;
        cursor: pointer; }
        .user-list__item:nth-child(1) svg:hover .st0 {
          fill: #63d1bb; }
        .user-list__item:nth-child(1) svg:active .st0 {
          opacity: 0.1; }
    .user-list__item:nth-child(2) {
      padding: 0;
      padding-top: 30px; }
      .user-list__item:nth-child(2) svg {
        left: -51px;
        top: 34px; }
  .user-list__search {
    display: none; } }

@media (min-width: 1200px) {
  .user-list {
    order: 2;
    flex-basis: 40%;
    border: none; } }
