@font-face{
  font-family: "Open Sans Bold";
  src:
          url("../fonts/OpenSans/OpenSansBold/OpenSans-Bold.woff2") format("woff2"),
          url("../fonts/OpenSans/OpenSansBold/OpenSans-Bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "Open Sans Regular";
  src:
          url("../fonts/OpenSans/OpenSansRegular/OpenSans-Regular.woff2") format("woff2"),
          url("../fonts/OpenSans/OpenSansRegular/OpenSans-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}



