@import "variables";
@import "mixins";

.about-us{

}
.about-us__container{
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-top: 26px;
}
.about-us__title{
  @include heading(25px, 30px);
  margin: 0;
  margin-bottom: 85px;
}
.about-us__list{
  list-style: none;
  @include fonts-1(17px, 20px);
  margin: 0;
  padding: 0;
}
.about-us__item{
  margin-bottom: 84px;
  padding-right: 63px;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    background-image: url("../img/flower-icon.svg");
    background-repeat: no-repeat;
    width: 34px;
    height: 40px;
    top: -54px;
    left: 7px;
  }
  &:nth-last-child(1){
    margin-bottom: 0;
    &::before{
      background-image: url("../img/gift-icon.svg");
      left: 2px;
      top: -56px;
    }
  }
  &:nth-child(2){
    padding-right: 38px;
    &::before{
      background-image: url("../img/money-icon.svg");
      width: 47px;
      left: 0;

    }
  }
  &:nth-child(3){
    &::before{
      background-image: url("../img/heart-icon.svg");
      top: -50px;
    }
  }
  &:nth-child(4){
    padding-right: 5px;
    &::before{
      background-image: url("../img/roll-icon.svg");
    }
  }
  &:nth-child(5){
    padding-right: 0;
    &::before{
      background-image: url("../img/rocket-icon.svg");
      width: 56px;
      left: -6px;
    }
  }
}
@media (min-width: $tablet-width){
  .about-us{
    margin-bottom: 85px;
  }
  .about-us__container{
    padding: 0;
    width: 668px;
    margin: 0 auto;
    padding-top: 48px;
  }
  .about-us__title{
    @include heading(43px, 50px);
    margin-bottom: 104px;
  }
  .about-us__list{
    display: flex;
    flex-wrap: wrap;
    @include fonts-1(20px, 22px);
  }
  .about-us__item{
    flex-basis: 50%;
    margin-bottom: 110px;
    &:nth-child(1){
      order:1;
      padding-right: 105px;
    }
    &:nth-child(2){
      order: 3;
      padding-right: 73px;
    }
    &:nth-child(3){
      order: 5;
      padding-right: 98px;
      margin-bottom: 0;
    }
    &:nth-child(4){
      order: 2;
      padding-right: 33px;
    }
    &:nth-child(5){
      order: 4;
    }
    &:nth-child(6){
      order: 6;
    }
  }
}
@media (min-width: $desktop-width){
  .about-us{
    margin-bottom: 0;
  }
  .about-us__container{
    width: 1050px;
    margin: 0 auto;
    padding: 60px 176px 92px 174px;
  }
  .about-us__title{
    @include heading(53px, 57px);
  }
  .about-us__item{
    flex-basis: 50%;
    &:nth-child(1){
      padding-right: 120px;
    }
    &:nth-child(2){
      padding-right: 89px;
    }
    &:nth-child(3){
      padding-right: 109px;
    }
    &:nth-child(4){
      padding-right: 53px;
    }
  }
}
