@import "variables";
@import "mixins";


.contacts{
  display: flex;
  flex-direction: column;
}
.contacts__container{
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
  padding-top: 35px;
  margin-bottom: 36px;
}
.contacts__title{
  @include heading(18px, 30px);
  margin: 0;
  margin-bottom: 26px;
}
.contacts__wrapper{
  display: flex;
  align-items: baseline;
  &:nth-of-type(1){
    margin-bottom: 30px;
  }
}
.contacts__email{
  @include fonts-2(15px, 30px);
  margin: 0;
  &:nth-child(1){
    margin-right: 30px;
  }
}
.contacts__email--link{
  color: $black-color;
  text-decoration: none;
  border-bottom: 1px solid $akvamarin-color;
}
.contacts__address{
  @include fonts-2(15px, 30px);
  margin: 0;
  &:nth-child(1){
    margin-right: 30px;
  }
  &:nth-child(2){
    width: 147px;
  }
}
.contacts__map{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 44px;
  &::before{
    content: "";
    position: absolute;
    top: 150px;
    left: 142px;
    width: 85px;
    height: 101px;
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
  }
}
#map{
  width: 100%;
  height: 456px;
  z-index: 1;
}
.contacts__image{
  width: 100%;
  height: 456px;
  margin-top: -456px;
  margin-bottom: 40px;
}

.contacts__write-us{
  @include button;
  @include fonts-1(18px, 20px);
  order: 5;
  &.button{
    padding: 14px 50px;
  }
}
@media (min-width: $tablet-width){
  .contacts__container{
    flex-direction: row;
    flex-wrap: wrap;
    width: 668px;
    padding-top: 61px;
    position: relative;
    margin-bottom: 56px;
    &::before{
      content: "";
      position: absolute;
      width: 53px;
      height: 81px;
      background-image: url("../img/flag-icon.svg");
      background-repeat: no-repeat;
      right: -3px;
      top: 46px;
    }
  }
  .contacts__image{
    margin-bottom: 56px;
  }
  .contacts__title{
    @include heading(43px, 50px);
    margin-right: 129px;
    margin-bottom: 50px;
  }
  .contacts__wrapper{
    flex-basis: 50%;
  }
  .contacts__map{
    width: 100%;
    margin-bottom: 57px;
  }
  .contacts__email{
    @include fonts-2(17px, 30px);
  }
  .contacts__address{
    @include fonts-2(17px, 30px);
    &:nth-child(2){
      width: 100%;
    }
  }
  .contacts__write-us{
    &.button{
      min-width: 228px;
      padding: 14px 35px;
    }
  }
}
@media (min-width: $desktop-width){
  .contacts{
    flex-direction: row;
    width: 1050px;
    margin: 0 auto;
    padding-top: 71px;
    padding-left: 169px;
  }
  .contacts__container{
    margin-bottom: 236px;
    padding-top: 74px;
    width: 350px;
    &::before{
      left: -106px;
      top: 66px;
    }
    flex-direction: column;
  }
  .contacts__wrapper{
    flex-basis: 40px;
    &:nth-of-type(1){
      margin-bottom: 22px;
    }
  }
  .contacts__title{
    @include heading(53px, 57px);
    margin-bottom: 47px;
  }
  .contacts__image{
    flex-basis: 50%;
  }
  #map{
    width: 525px;
    height: 457px;
  }
  .contacts__image{
    width: 525px;
    height: 457px;
  }
  .contacts__write-us{
    &.button{
      margin-left: -346px;
      margin-top: -105px;
    }
  }
}