@import "variables";

.main-nav{
  font-size: 17px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 20px;
}
.main-nav__list{
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  a{
    text-decoration: none;
    color: $black-color;
  }
}
.main-nav__wrapper{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 18px;
}
.main-nav__toggle{
  width: 23px;
  height: 20px;
  position: absolute;
  top: 28px;
  right: 29px;
  border: none;
  display: block;
  cursor: pointer;
  background-color: #fff;
}
.main-nav--closed .main-nav__toggle::before{
  content: "";
  position: absolute;
  top: 2px;
  right: 1px;
  width: 21px;
  height: 2px;
  background-color: $black-color;
  box-shadow:
          0 8px 0 0 $black-color,
          0 16px 0 0 $black-color;
}
.main-nav--opened .main-nav__toggle{
  top: 28px;
  right: 29px;

  &::before,
  &::after{
    content: "";
    position: absolute;
    top: 10px;
    right: -2px;
    width: 28px;
    height: 2px;
    background-color: $black-color ;
  }
  &::before{
    transform: rotate(45deg);
    box-shadow: none;
  }
  &::after{
    transform: rotate(-45deg);
  }
}
.page-header__logo--wrapper{
  order: -2;
  border-bottom: 1px solid #ececec;
}
.page-header__logo{
  display: block;
  width: 90px;
  height: 58px;
  background-image: url("../img/logo-2.svg");
  background-repeat: no-repeat;
  background-size: 90px;
  margin: 0 auto;
  &:hover{
    opacity: 0.6;
  }
  &:active{
    opacity: 0.1;
  }
}
@media (min-width: $mobile-width){
  .main-nav--closed .site-list{
    display: none;
  }
  .main-nav--closed .user-list{
    display: none;
  }
}
@media (min-width: $tablet-width){
  .main-nav{
    flex-direction: row;
    padding-top: 0;
    flex-wrap: wrap;
    align-items: center;
  }
  .main-nav__wrapper{
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;
  }
  .page-header__logo{
    background-image: url("../img/logo-4.svg");
    width: 111px;
    background-size: 111px;
    margin: 0;
  }
  .main-nav__toggle{
    display: none;
  }
  .page-header__logo--wrapper{
    height: 50px;
    border: none;
    flex-basis: 48%;
    border-bottom: 1px solid #ececec;
    padding-left: 50px;
    padding-top: 22px;
    height: 90px;
  }
}
@media (min-width: $desktop-width) {
  .main-nav{
    width: 1200px;
    flex-wrap: nowrap;
    border-bottom: 1px solid #ececec;
  }
  .main-nav__wrapper{
    width: 1050px;
  }
  .page-header__logo{
    background-image: url("../img/logo.svg");
    width: 153px;
    background-size: 153px;
    height: 100%;
  }
  .page-header__logo--wrapper{
    order: 1;
    flex-basis: 20%;
    height: 72px;
    padding-left: 0;
    padding-top: 0;
    border: none;
  }
}
