@import "variables";

.main-nav{
  font-size: 17px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}
.main-nav__list{
  list-style: none;
  margin: 0;
  padding: 0;
  a{
    text-decoration: none;
    color: $black-color;
  }
}
.main-nav__wrapper{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 280px;
}
.main-nav__toggle{
  width: 60px;
}
.page-header__logo{
  order: -1;
}
@media (min-width: $tablet-width){
  .main-nav{
    flex-direction: row;
    width: 768px;
  }
  .main-nav__wrapper{
    flex-direction: row;
    width: 668px;
    justify-content: space-between;
  }
}
@media (min-width: $desktop-width) {
  .main-nav{
    width: 1200px;
  }
  .main-nav__wrapper{
    width: 1050px;
  }
}
