@import "variables";
@import "mixins";

.order{
  padding-top: 20px;
  padding-bottom: 55px;
}
.order__description{
  @include fonts-2(13px, 24px);
  padding: 0 30px;
  margin: 0;
  margin-bottom: 24px;
}
.order__form{
  width: 260px;
  margin: 0 auto;
  @include fonts-1(17px, 18px);
}
.order__item{
  border: none;
  padding: 0;
  border-top: 1px solid $akvamarin-color;
  margin-bottom: 46px;
  &:nth-child(2){
    margin-bottom: 12px;
  }
  &:nth-child(3){
    padding-top: 28px;
    margin-bottom: 9px;
  }
  &:nth-child(4){
    padding-top: 7px;
    margin-bottom: 11px;
  }
  &:nth-child(5){
    padding-top: 6px;
    margin-bottom: 10px;
  }
  &:nth-child(6){
    padding-top: 26px;
    margin-bottom: 2px;
  }
}
.order__radio{
  list-style: none;
  margin: 0;
  padding: 0;
  li{
    padding-left: 59px;
    padding-top: 35px;
    position: relative;
    &:nth-child(2){
      padding-left: 59px;
      padding-top: 21px;
      .order__radio--indicator{
        top: 14px;
      }
    }
  }
}
.order__radio--indicator{
  width: 40px;
  height: 40px;
  border: 2px solid $button-color;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  left: -2px;
  background-size: 40px;
  &:hover{
  border-color: $akvamarin-color;
  }
  &:active{
    border-color: $active-color;
  }
}
input[type="radio"]{
  display: none;
}
input[type="radio"]:checked + .order__radio--indicator::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: $akvamarin-color;
  border-radius: 50%;
  top: 10px;
 left: 10px;
}
.order__checkbox{
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 23px;
  li{
    padding: 12px;
    padding-left: 60px;
    margin-bottom: 19px;
    position: relative;
  }
}
input[type="checkbox"]{
  display: none;
}
input[type="checkbox"]:checked + .order__checkbox--indicator{
  background-image: url("../img/checkbox-active.svg");
  background-size: 23px;
  background-position: 6px;
  background-repeat: no-repeat;
}
.order__checkbox--indicator{
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  position: absolute;
  top: 2px;
  left: -2px;
  background-size: 40px;
  border: 2px solid $button-color;
  &:hover{
  border-color: $akvamarin-color;
  }
  &:active{
    border-color: $active-color;
  }
}
.order__legend{
  @include fonts-1(17px, 16px);
  color: $akvamarin-color;
  text-transform: uppercase;
  padding-right: 23px;
}
input[type="text"]{
  border: none;
  border-bottom: 2px solid $black-color;
  padding: 14px 0;
  margin-bottom: 21px;
  background: transparent;
  @include fonts-2(17px, 18px);
  color: $button-color;
  &:hover{
    border-color: $akvamarin-color;
  }
  &:active{
    border-color: $akvamarin-color;
  }
  &:focus{
    border-color: $akvamarin-color;
  }
  &::-webkit-input-placeholder {
    @include fonts-2(17px, 18px);
    color: $button-color;
  }
  &::-moz-placeholder {
    @include fonts-2(17px, 18px);
    color: $button-color;
  }
}

input[name="number-input"]{
  background-image: url("../img/phone-icon.svg");
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: 225px;
  &:hover{
    background-image: url("../img/phone-icon-hover.svg");
  }
  &:active{
    background-image: url("../img/phone-icon-hover.svg");
  }
  &:focus{
    background-image: url("../img/phone-icon-hover.svg");
  }
}
input[name="email-input"]{
  background-image: url("../img/mail-icon.svg");
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: 225px;
  &:hover{
    background-image: url("../img/mail-icon-hover.svg");
  }
  &:active{
    background-image: url("../img/mail-icon-hover.svg");
  }
  &:focus{
    background-image: url("../img/mail-icon-hover.svg");
  }
}
.order__area{
 resize: none;
 width: 258px;
 height: 141px;
 border: 2px solid $button-color;
 padding: 17px;
 @include fonts-2(17px, 18px);
 color: $button-color;
 &:hover{
   border-color: $akvamarin-color;
 }
 &:active{
   border-color: $akvamarin-color;
 }
 &:focus{
   border-color: $akvamarin-color;
 }
 &::-webkit-input-placeholder {
   @include fonts-2(17px, 18px);
   color: $button-color;
 }
 &::-moz-placeholder {
   @include fonts-2(17px, 18px);
   color: $button-color;
}
}
.order__wrapper{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}
.order__required{
  @include fonts-2(14px, 16px);
  order: -1;
  margin-bottom: 32px;
}
.order__submit{
  &.button{
    padding: 14px 40px;
    @include button;
    background: transparent;
  }
}

@media (min-width: $tablet-width){
  .order{
    background-image: url("../img/promo-line.svg");
    background-repeat: no-repeat;
    background-position: top;
    margin-top: -11px;
    padding-top: 85px;
    padding-bottom: 49px;
  }

  .order__description{
    padding: 0;
    @include fonts-2(17px, 30px);
    width: 668px;
    margin: 0 auto;
    margin-bottom: 39px;
  }
  .order__form{
    @include fonts-1(19px, 18px);
    width: 100%;
  }
  .order__item{
     position: relative;
     padding: 0 50px;
     flex-wrap: wrap;
     border: none;
     &:nth-child(1){
       margin-bottom: 41px;
      .order__legend{
         top: 35px;
       }
     }
     &:nth-child(2){
       background-color: $grey-background;
       padding-top: 48px;
       padding-bottom: 22px;
      .order__legend{
         top: 65px;
       }
     }
     &:nth-child(3){
       padding-top: 37px;
       padding-bottom: 18px;
       .order__legend{
         top: 54px;
       }
       .order__label{
         display: inline-block;
         margin-left: 165px;
         margin-right: 18px;
       }
     }
     &:nth-child(4){
       background-color: $grey-background;
       margin-bottom: 0;
       padding-top: 49px;
       .order__legend{
         top: 66px;
         }
     }
     &:nth-child(5){
       background-color: $grey-background;
       padding-top: 0;
       padding-bottom: 27px;
       .order__legend{
         top: 17px;
       }
     }
     &:nth-child(6){
       padding-top: 40px;
       .order__legend{
         top: 56px;
       }
     }

  }
  .order__legend{
    position: absolute;
}
  .order__radio{
    margin-left: 167px;
    li{
      padding: 33px 0 27px 78px;
      &:nth-child(2){
        padding: 33px 0 27px 78px;
      }
    }
  }
  .order__radio--indicator{
    width: 52px;
    height: 52px;
    top: 18px;
  }
  input[type="radio"]:checked + .order__radio--indicator::before{
    width: 21px;
    height: 21px;
    top: 13px;
    left: 13px;
  }
  .order__checkbox{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    margin-left: 168px;
    padding-top: 0;
    li{
      padding-left: 79px;
      margin-right: 106px;
      margin-bottom: 36px;
      &:nth-child(even){
        margin-right: 0;
      }
      &:nth-child(3){
        margin-right: 55px;
      }
      &:nth-child(5){
        margin-right: 83px;
      }
    }
  }
  .order__checkbox--indicator{
    width: 52px;
    height: 52px;
  }
input[type="checkbox"]:checked + .order__checkbox--indicator{
  background-size: 32px;
  background-position: 9px;
}
input[type="text"]{
  margin-bottom: 23px;
  padding-left: 19px;
  &::-webkit-input-placeholder {
    @include fonts-2(19px, 18px);
    }
  &::-moz-placeholder {
    @include fonts-2(19px, 18px);
    }
}
input[name="name-input"]{
  width: 427px;
}
input[name="surname-input"]{
  width: 375px;
}
input[name="patronymic-input"]{
  width: 375px;
}
input[name="number-input"]{
  width: 501px;
  margin-left: 166px;
  background-position: 449px;
}
input[name="email-input"]{
  width: 501px;
  margin-left: 166px;
  background-position: 449px;
}
.order__area{
  width: 501px;
  height: 142px;
  margin-left: 165px;
  &::-webkit-input-placeholder {
    @include fonts-2(19px, 18px);
    }
  &::-moz-placeholder {
    @include fonts-2(19px, 18px);
    }
}
.order__wrapper{
  flex-direction: row;
  width: 668px;
  margin: 0 auto;
  padding-top: 51px;
}
.order__required{
  order: 0;
}
.order__submit{
  &.button{
    margin: 0;
    min-width: 230px;
    padding: 0 21px;
    height: 52px;
    @include fonts-1(17px, 16px);
    margin-right: 136px;
    }
}
.order__required{
  @include fonts-2(17px, 30px);
  margin: 0;
  margin-top: 8px;
}
}
@media (min-width: $desktop-width){
.order{
  width: 1150px;
  margin: 0 auto;
  margin-top: -18px;
  padding-top: 141px;
}
.order__description{
  width: 700px;
}
.order__item{
  &:nth-child(1){
    .order__legend{
      top: 35px;
      left: 111px;
    }
  }
  &:nth-child(2){
    padding-bottom: 29px;
  }
  &:nth-child(3){
    .order__label{
      margin-left: 173px;
    }
  }
}
.order__legend{
  left: 107px;
}
.order__radio{
  margin-left: 174px;
}
.order__checkbox{
  margin-left: 175px;
  li{
    padding-top: 17px;
    margin-bottom: 28px;
    &:nth-child(2){
      margin-right: 106px;
    }
    &:nth-child(3){
      margin-right: 0;
    }
    &:nth-child(4){
      margin-right: 91px;
    }
    &:nth-child(5){
      margin-right: 84px;
    }
    &:nth-child(6){
      margin-right: 0;
    }
  }
}
input[name="name-input"]{
  width: 626px;
}
input[name="surname-input"],
{
  width: 573px;
}
input[name="patronymic-input"]{
  width: 573px;
}
input[name="number-input"],
input[name="email-input"]{
  width: 700px;
  background-position: 666px;
  margin-left: 172px;
}
.order__area{
  width: 700px;
  margin-left: 172px;
}
.order__wrapper{
  width: 700px;
  padding-top: 47px;
}
.order__submit{
  &.button{
    margin-right: 168px;
  }
}
}
