@import "variables";
@import "mixins";

.page-footer{
  background-color: $grey-background;
}
.footer__container{
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
}
.page-footer__logo{
  display: none;
}
.page-footer__social{
  width: 260px;
  margin: 0 auto;
  padding: 50px;
  padding-top: 24px;
  padding-bottom: 22px;
  border-bottom: 1px solid #e5e5e5;
}
.social__list{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.social__item{
  margin-right: 40px;
  &:nth-child(3){
    margin-right: 0;
  }
}
.page-footer__copyright{
  width: 260px;
  margin: 0 auto;
  padding-top: 15px;
  display: flex;
  align-items: center;
  padding-left: 38px;
  margin-bottom: 15px;
  svg{
    &:hover{
      .st1{
        fill: $akvamarin-color-2;
        stroke: $akvamarin-color-2;
      }
    }
    &:active{
      opacity: 0.3;
    }
  }
}
.copyright__text{
  @include fonts-1(19px, 18px);
  font-weight: normal;
  margin-right: 25px;
  text-decoration: none;
  color: $black-color;
  &:active{
    opacity: 0.3;
  }
}
.copyright__text:hover +  svg  .st1{
  fill: $akvamarin-color-2;
  stroke: $akvamarin-color-2;
}
.copyright__text:active +  svg {
  opacity: 0.3;
}

.social__link{
  text-decoration: none;
  &:hover{
    svg{
      .st0{
        fill: $akvamarin-color;
      }
    }
  }
  &:active{
    opacity: 0.3;
  }
}
@media (min-width: $tablet-width){
  .footer__container{
    width: 668px;
    flex-direction: row;
    padding-top: 37px;
    padding-bottom: 31px;
    align-items: center;
    justify-content: space-between;
  }
  .page-footer__logo{
    display: block;
    margin-right: 79px;
    &:hover{
      opacity: 0.6;
    }
    &:active{
      opacity: 0.1;
    }
  }
  .page-footer__social{
    padding-right: 0;
    padding-left: 72px;
    border-bottom: none;
  }
  .page-footer__copyright{
    padding-left: 61px;
  }
}
@media(min-width: $desktop-width){
  .page-footer{
    width: 1250px;
    margin: 0 auto;
  }
  .footer__container{
    width: 1050px;
  }
  .page-footer__logo{
    margin-right: 266px;
  }
  .page-footer__social{
    margin: 0;
    margin-right: 191px;
  }
  .page-footer__copyright{

  }
}