@import "mixins";
.promo{
  background-image: url("../img/promo-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center -8%;
  background-size: 100% 73%;
  padding-top: 58px;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/promo-background-mobile-2x.jpg");
    background-size: 320px auto;
  }
  &.promo--catalog{
    background-image: none;
    background: $grey-background;
    padding-bottom: 1px;
  }
  &.promo--form{
    background-image: none;
    background: $grey-background;
    padding-bottom: 1px;
  }
}

.promo__delivery{
  @include fonts-2(15px,24px);
  display: none;
}
.promo__title{
  @include heading(27px, 30px);
  text-align: center;
  margin: 0;
  margin-bottom: 123px;
  padding: 0 38px;
}
.promo__title--catalog,
.promo__title--form{
  margin-bottom: 78px;
}
.promo__title--form{
  padding: 0;
}
@media (min-width: $tablet-width) {
  .promo{
    padding-top: 0;
    margin-top: -40px;
    background-image: url("../img/promo-background.jpg");
    background-size: auto;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-background-2x.jpg");
      background-size: 1150px auto;
    }
  }
  .promo--catalog{
    padding-bottom: 1px;
  }
  .promo__wrapper{
    width: 668px;
    margin: 0 auto;
  }
  .main-nav--catalog{
    margin-bottom: 37px;
  }
  .promo__title {
    @include heading(43px, 50px);
    text-align: center;
    margin-top: 96px;
    margin-bottom: 374px;
  }
  .promo__title--catalog,
  .promo__title--form{
    margin-bottom: 78px;
    margin-top: 0;
  }
  .promo__delivery{
    display: block;
    margin-left: 436px;
    margin-top: 16px;
  }
}
@media (min-width: $desktop-width) {
  .main-nav--promo{
    margin-bottom: 113px;
    padding-left: 0;
    border: none;
  }
  .promo{
    margin-top: 0;
    background-size: 1150px auto;
    background-position: center 0px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-background-2x.jpg");
      background-size: 1150px auto;
    }
  }
  .promo--catalog,
  .promo--form{
    width: 1150px;
    margin: 0 auto;
  }
  .main-nav--catalog{
    margin-bottom: 53px;
  }
  .promo__wrapper{
    width: 1050px;
    padding-top: 14px;
  }
   .promo__title{
     @include heading(53px, 57px);
     text-align: center;
     margin-bottom: 359px;
   }
  .promo__title--catalog,
  .promo__title--form{
    margin-bottom: 100px;
  }
  .promo__delivery{
    margin: 0;
  }
}
