@import "mixins";

.promo-list{
  font-size: 15px;
  display: none;
}
.promo__delivery{
  @include fonts-2(15px,24px);
  display: none;
}
.promo__title{
  @include heading(27px, 30px);
  text-align: center;
}
.offers-list{
  display: flex;
  flex-direction: column;
}
@media (min-width: $tablet-width) {
  .offers-list {
    flex-direction: row;
  }
  .promo__title{
    @include heading(43px, 50px);
    text-align: center;
  }
  .promo__delivery{
    display: block;
    margin-left: 436px;
    margin-top: -24px;
  }
}
@media (min-width: $desktop-width) {
  .main-nav--promo{
    border: none;
  }
   .promo__title{
     @include heading(53px, 57px);
     text-align: center;
   }
  .promo__delivery{
    margin: 0;
  }
}