@import "variables";
@import "mixins";


.reviews{
  background-image: url("../img/zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}
.reviews__container{
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-top: 22px;
}
.reviews__slider{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 33px;
}
.reviews__item{
  display: flex;
  flex-direction: column;
}

.reviews__title{
  @include heading(25px, 30px);
  margin: 0;
  margin-bottom: 23px;
}
.reviews__write{
  @include button;
  order: 5;
  &.button{
    padding: 14px 74px;
  }
}
.reviews__description{
  @include fonts-2(15px, 30px);
  margin: 0;
  margin-bottom: 27px;
}
.reviews__username{
  @include fonts-1(17px, 24px);
  margin-bottom: 6px;
  font-weight: normal;
}
.reviews__login{
  @include fonts-2(17px, 24px);
}
.reviews__wrapper{
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}
.reviews__controls{
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 36px;
}
.reviews__item--controls{
  border: 1px solid #ececec;
  &:nth-child(1){
    border-right: none;
  }
}
.reviews__button{
  border: none;
  background-color: transparent;
  width: 130px;
  height: 51px;
  cursor: pointer;
  &:hover{
    opacity: 0.5;
  }
  &:active{
    opacity: 0.1;
  }
}
.reviews__button--left{
  background-image: url("../img/arrow-left.svg");
  background-repeat: no-repeat;
  background-size: 54px;
  background-position: 35px;
}
.reviews__button--right{
  background-image: url("../img/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: 54px;
  background-position: 35px;
}
@media (min-width: $tablet-width){
  .reviews{
    background-image:
            url("../img/reviews-image.jpg"),
            url("../img/zigzag-line.svg");
    background-repeat: no-repeat;
    background-position:
            0 0,
            bottom;
    background-size:
            350px,
            807px;
    padding-top: 77px;
    position: relative;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image:
              url("../img/reviews-image-2x.jpg"),
              url("../img/zigzag-line.svg");
      background-size:
              350px,
              807px;
    }

  }
  .reviews__container{
    flex-direction: row;
    width: 668px;
    margin: 0 auto;
    padding: 0;
  }
  .reviews__slider{
    margin-bottom: 133px;
  }
  .reviews__description{
    @include fonts-2(17px, 30px);
    width: 642px;
    margin-bottom: 58px;
  }
  .reviews__username{
    @include fonts-1(18px, 24px);
  }
  .reviews__write{
    order: -1;
    &.button{
      margin-bottom: 224px;
      min-width: 175px;
      padding: 14px 26px;
      padding-left: 37px;
      @include fonts-1(17px, 20px);
    }
  }
  .reviews__title{
    @include heading(43px, 50px);
    margin-bottom: 49px;
  }
  .reviews__wrapper{
    position: absolute;
    right: 40px;
  }
  .reviews__item--controls{
    border: none;
  }
  .reviews__button{
    width: 100px;
    padding: 0;
  }
  .reviews__button--right{
    background-position: 19px;
  }
}
@media (min-width: $desktop-width){
  .reviews {
    width: 1050px;
    margin: 0 auto;
    padding-top: 60px;
    background-size: 350px,
    1051px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/reviews-image-2x.jpg"),
      url("../img/zigzag-line.svg");
      background-size: 350px,
      1051px;
    }
  }
  .reviews__container{
    width: 875px;
    padding-left: 85px;
    padding-top: 7px;
  }
  .reviews__title{
    @include heading(53px, 57px);
  }
  .reviews__description{
    width: 768px;
    margin-bottom: 39px;
  }
  .reviews__slider{
    margin-bottom: 185px;
  }
  .reviews__wrapper{
    right: -12px;
    top: 77px;
  }
  .reviews__write{
    &.button{
      margin-bottom: 177px;
    }
  }
}
