@import "variables";
@import "mixins";


.reviews{
  display: flex;
  flex-direction: column;
}
.reviews__title{
  @include heading(25px, 30px);
}
.reviews__write{
  @include button;
  order: 5;
}
.reviews__description{
  @include fonts-2;
}
.reviews__username{
  @include fonts-1(17px, 24px);
}
.reviews__login{
  @include fonts-2(17px, 24px);
}
.reviews__slider{
  list-style: none;
}
@media (min-width: $tablet-width){
  .reviews__write{
    order: -1;
  }
  .reviews__title{
    @include heading(43px, 50px);
  }
}
@media (min-width: $desktop-width){
  .reviews__title{
    @include heading(53px, 57px);
  }
}
