.site-list__item{
  padding: 28px 60px 24px 46px;
  border-bottom: 1px solid #ececec;
  &:nth-child(1){
    padding: 27px 60px 24px 42px;
  }
  a:hover{
    opacity: 0.6;
  }
  a:active{
    opacity: 0.1;
  }
}
@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    order: 3;
    padding-left: 174px;
    padding-top: 16px;
    margin-left: -125px;
    margin-right: auto;
    @include fonts-1(15px, 24px);
  }
  .site-list__item {
    padding: 0;
    border: none;
    a:hover{
      opacity: 0.6;
    }
    a:active{
      opacity: 0.1;
    }
    &:nth-child(1){
      padding: 0;
      margin-right: 37px;
    }
  }
}
@media (min-width: $desktop-width) {
  .site-list {
    order: -1;
    padding: 0;
    margin: 0;
    height: 100%;
    @include fonts-1(17px, 24px);
    flex-basis: 40%;
    margin-right: 45px;
  }
  .site-list__item {
    padding: 30px 0;
    flex-basis: 50%;
    min-width: 216px;
    &:nth-child(1){
      padding: 30px 0;
      margin-right: 0;
      border-right: 1px solid #ececec;
    }
  }
}