@import "variables";

.user-list__item{
  padding: 28px 60px 24px 46px;
  border-bottom: 1px solid #ececec;
  position: relative;
  &:nth-child(1){
    padding: 30px 60px 24px 27px;
  }
  &:nth-child(2){
    padding: 31px 35px 24px 46px;
  }
  a:hover{
    opacity: 0.6;
  }
  a:active{
    opacity: 0.1;
  }
  svg{
    position: absolute;
    left: 30px;
    top: 36px;
  }
}
.user-list__search:hover + svg .st0 {
   fill: $akvamarin-color;
 }
.user-list__cart:hover + svg .st0 {
  fill: $akvamarin-color;
}
.user-list__search:active + svg .st0 {
  opacity: 0.1;
}
.user-list__cart:active + svg .st0 {
  opacity: 0.1;
}
@media (min-width: $tablet-width){
  .user-list{
    display: flex;
    flex-basis: 50%;
    height: 90px;
    border-bottom: 1px solid #ececec;
  }
  .user-list__item{
    padding: 0;
    border: none;

    &:nth-child(1){
    padding: 0;
      width: 85px;
      margin-right: 83px;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;

      svg{
        left: 33px;
        top: 35px;
        cursor: pointer;
        &:hover{
          .st0{
            fill: $akvamarin-color;
          }
        }
        &:active{
          .st0{
            opacity: 0.1;
          }
        }
      }
    }
    &:nth-child(2){
    padding: 0;
      padding-top: 30px;
      svg{
        left: -51px;
        top: 34px;
      }
  }
  }
  .user-list__search{
    display: none;
  }
}
@media (min-width: $desktop-width) {
  .user-list{
    order: 2;
    flex-basis: 40%;
    border: none;
  }
  .user-list__item{
    &:nth-child(1){

    }
  }
}